<div class="container mt-3 mr-5">
  <h3>従業員一覧</h3>
  <div class="row">
    <div class="d-flex flex-wrap mt-3 ml-3">
      <% @users.each do |user| %>
      <div class="card border-info mr-3" style="width: 20rem;">
        <div class="card-header" style="background-color: #FFE4E1;"><%= user.name %></div>
        <div class="card-body text-secondary">
          <p class="card-text">email:<%= user.email %></p>
          <p class="card-text">緊急連絡先:<%= user.phone_number %></p>
          <p style='text-align: end'><% if current_user != user %>
              <%= link_to 'チャットする', chat_path(user.id), class: 'btn btn-outline-primary' %>
             <% end %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>