<div class="container mt-3 mr-5">
  <div class="row">
    <div class="d-flex flex-wrap">
      <% @users.each do |user| %>
      <div class="card bg-light border-info mr-3" style="max-width: 18rem;">
        <div class="card-header"><%= user.name %></div>
        <div class="card-body text-secondary">
          <p class="card-text">email:<%= user.email %></p>
          <p><% if current_user != user %>
              <%= link_to 'チャットする', chat_path(user.id) %>
             <% end %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>