<div class="container">
  <div class="row">
    <div class="w-auto mx-auto" style="margin-top: 100px;">
      <h2 style="color:#FF8856;">発注完了致しました <i class="fas fa-check"></i></h2>
    </div>
  </div>
  <div class="row">
    <div class="w-auto mx-auto mt-5">
      <h2><%= link_to "注文履歴へ", orders_path,class:"btn btn-info"%></h2>
    </div>
  </div>
</div>