<div class="container">
  <div class="row">
    <div class="w-auto mx-auto mt-3">
      <h2>発注完了致しました</h2>
    </div>
  </div>
  <div class="row">
    <div class="w-auto mx-auto mt-5">
      <h2><%= link_to "注文履歴へ", orders_path,class:"btn btn-outline-info"%></h2>
    </div>
  </div>
</div>