<div class="container mt-3">
  <h3>注文履歴</h3>
  <div class="row">
    <table class="table table-light table-bordered border-dark table_border_radius">
      <thead>
        <tr>
          <th>受注日</th>
          <th>発注者</th>
          <th>発送状況</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime("%Y/%m/%d")%></td>
          <td><%= order.user.name %></td>
          <td><% if order.is_active == false %>
                  <p class="text-black-50">未発送</p>
                <% else %>
                  <p class="text-success">発送済み</p>
                <% end %></td>
          <td><%= link_to"発注詳細へ",order_path(order.id), class:"btn btn-info" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="mx-auto"><%= paginate @orders%></div>
  </div>
</div>