<div class="container top" style="color:#FF8856; width:50rem;">
    <div class='row'>
        <div class="mx-auto">
            <h1 id="animation">restaurant management</h1>
        </div>
    </div>
</div>
<div class="container mt-5 ">
    <div class='row'>
      <div class="col-md-6" >
        <div class="ml-3 top" style="text-align: center;">
            <p style="color:#000000; margin: 20px;">発注先企業様のログインはこちら</p>
            <p><%= link_to '受注者ログイン', new_admin_session_path,class: 'btn btn-secondary' %></p>
        </div>
      </div>
      <div class="col-md-6" >
        <div class="mr-3 top" style="text-align: center;">
            <p style="color:#FF8856; margin: 20px;">飲食店企業様のログインはこちら</p>
            <p><%= link_to '発注者ログイン', new_user_session_path,class: 'btn btn-success' %></p>
        </div>
      </div>
    </div>
</div>