<div class="container top" style="color:#FF9872; background-color:#EEFFFF; width:50rem;">
    <div class='row'>
        <div class="mx-auto">
            <h1 id="animation">restaurant management</h1>
        </div>
    </div>
</div>
<div class="container mt-5 ">
    <div class='row'>
      <div class="col-md-6" >
        <div class="ml-3 top" style="text-align: center; background-color:#EEFFFF;">
            <p style="color:#000000; margin: 20px;">発注先企業様のログインはこちら</p>
            <p><%= link_to '発注先ログイン', new_admin_session_path,class: 'btn btn-outline-dark' %></p>
        </div>
      </div>
      <div class="col-md-6" >
        <div class="mr-3 top" style="text-align: center; background-color:#EEFFFF;">
            <p style="color:#FF9872; margin: 20px;">飲食店企業様のログインはこちら</p>
            <p><%= link_to '飲食店ログイン', new_user_session_path,class: 'btn btn-outline-success' %></p>
        </div>
      </div>
    </div>
</div>