// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendar{
  background-color:white;
  width: 55rem;
  border: solid #C0C0C0 1px;
  margin:0 auto;
  border-radius: 5px;
  border-collapse: separate;
}
