// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
   border-radius: 20px;
   border: medium solid #666666;
   margin-top: 90px;
   font-weight: bold;
   background-color:#EEFFFF;
}

#animation {
margin: 50px 0;
font-size: 40px;
font-weight: bold;
}

.homes{
   background-image: image-url('background.png');
   background-size: cover;
   background-position: top;
  // background-repeat: no-repeat;
}