// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login1{
   border-radius: 20px;
   border: medium solid #808080;
   margin-top: 40px;
   text-align: center;
   background-color: white;
}

.login2{
   border-radius: 20px;
   border: medium solid #808080;
   margin-top: 10px;
   text-align: center;
   background-color: white;
}