<% if model.errors.any? %>
  <div class="alert alert-warning">　<!--該当するエラーをリストにして表示する-->
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li>
        <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<!--errorを表示したいviewのf.objectのobjectはformのブロック変数に対して使用する事でブロック内でモデルオブジェクトを呼び出す事が出来る。-->