<footer class="fixed-bottom">
  <div class='container'>
    <div class='row'>
      <div class='mx-auto'>
        <p>Copyright © 2021 restaurant_management</p>
      </div>
    </div>
  </div>
</footer>